/* Only global styling CSS Rules should be placed here, for component specific styling use CSS Modules */

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700;900&display=swap');

.scrollbar-thin {
    scrollbar-width:thin;
    scrollbar-color: #d8dce0 #f6efef; 
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 2px; 
  }
